/*
<뷰포트 820px 이상 1180px 미만> 
박스 가로 : 40px
열 개수(요일) : 14개
행 개수 : 49개 
*/


/*--------------------------------------전체 레이아웃--------------------------------------*/
header {
    height:220px;
}
main {
    height:2450px;                                      /*50px * 33행*/
}
footer {
    height:180px;
}

/*--------------------------------------헤더 레이아웃--------------------------------------*/

/*헤더 전체*/
#menu {
    height:80px;                                        /*상부 패딩 60px + 메뉴 세로 길이*/
    padding:60px 50px 0;
}
#title {
    height:120px;
}
#days {
    width:562px;                                        /*박스 가로 * 37열 + 테두리*/
    height:20px;
}
#days .w5, #days .w4, #days .w3 {
    /*요일 14개만 남기기*/
    display:none; 
}

/*메뉴*/
#menu ul {
    margin:0 auto; /*중앙 정렬로 변경*/
    width:560px; /*이미지 박스와 동일 크기*/
    float:none; /*오른쪽 정렬 해제*/
}
#menu ul li:first-child {
    text-align: left; /*왼쪽 메뉴는 왼쪽 정렬*/
}
#menu ul li:nth-child(2) {
    text-align: center; /*가운데 메뉴는 가운데 정렬*/
}

/*제목*/
#title h1{
    top:39px;
}
#title p {
    top:56px;
}

/*요일 내 위치 지정*/
#days div {
    width:40px;
    height:20px;
}

/*--------------------------------------메인 레이아웃--------------------------------------*/

#years {
    width:35px;
    height:2450px;
    left: calc(50% - 280px - 110px);
}
#months {
    width:75px;
    height:2450px;
    left: calc(50% - 280px - 75px);
}
#drawings {
    width:560px;
    height:2450px;
    grid-template-columns: repeat(14, 1fr);
}

/*---------------연,월 상세 레이아웃---------------*/
/*연 요소별 위치*/
#years ul {
    height: 2450px;
}
#years ul li {
    padding-top:15px;
}
#years ul li:nth-child(1) {
    top: 0px;
}
#years ul li:nth-child(2) {
    top: 700px;
}
#years ul li:nth-child(3) {
    top: 2000px;
}
/*월 요소별 위치*/
#months ul li {
    height:100px;
    padding:15px 0;
}
#months ul li:nth-child(1) {
    height:50px;
}
#months ul li:nth-child(6),
#months ul li:nth-child(12),
#months ul li:nth-child(17) {
    height:150px;
}

/*--------------이미지 박스 레이아웃---------------*/
#drawings div {
    width:40px;
    height:50px;
}
/*날짜 박스(마우스 오버 시 표시)*/
#drawings div div {
    padding:12px 0;
}
/*빈 박스 없애기*/
#drawings .xxl, #drawings .xl, #drawings .l{
    display:none;
}

/*--------------------------------------푸터 레이아웃--------------------------------------*/
footer p {
    width:562px;
    padding:40px 0;
}

/*------------------------------------------글꼴------------------------------------------*/
html {
    font-size:11px;
}

/*--------------------------------------스크롤 설정-----------------------------------------*/
#header-bg {
    height:150px;
}
#menu.scroll {
    padding-top:40px; /*원래 길이 - 20px*/
}
#title h1.scroll {
    top: 83px;
}
#days.scroll {
    top: 130px !important; /*header-bg 길이 - 20px*/
    left: calc(50% - 280px - 1px);
}

/*960 이상일 때 박스 너비 45으로*/
@media screen and (min-width:960px) and (max-width:1179px) {
    #days, footer p {
        width: 632px;
    }
    #menu ul, #drawings {
        width: 630px;
    }
    #days div, #drawings div {
        width: 45px;
    }
    #years {
        left: calc(50% - 315px - 120px);
    }
    #months {
        left: calc(50% - 315px - 80px);
    }
    #days.scroll {
        left: calc(50% - 315px - 1px);
    }
}