/*
<뷰포트 412px 이상 820px 미만> 
박스 가로 : 50px
열 개수(요일) : 7개
행 개수 : 97개 
*/


/*--------------------------------------전체 레이아웃--------------------------------------*/
header {
    height:220px;
}
main {
    height:4850px;                                      /*50px * 33행*/
}
footer {
    height:120px;
}

/*--------------------------------------헤더 레이아웃--------------------------------------*/

/*헤더 전체*/
#menu {
    height:80px;                                        /*상부 패딩 60px + 메뉴 세로 길이*/
    padding:60px 30px 0; 
}
#title {
    height:120px;
}
#days {
    width:352px;                                        /*박스 가로 * 37열 + 테두리*/
    height:20px;
}
#days .w5, #days .w4, #days .w3, #days .w2 {
    /*요일 7개*/
    display:none; 
}

/*메뉴*/
#menu ul {
    margin:0 auto; /*중앙 정렬로 변경*/
    width:350px; /*이미지 박스와 동일 크기*/
    float:none; /*오른쪽 정렬 해제*/
}
#menu ul li:first-child {
    text-align: left; /*왼쪽 메뉴는 왼쪽 정렬*/
}
#menu ul li:nth-child(2) {
    text-align: center; /*가운데 메뉴는 가운데 정렬*/
}

/*제목*/
#title h1{
    top:39px;
}
#title p {
    top:56px;
}
#title p span {
    display:inline-block;
    width:350px; /*모바일 버전 : 설명 글 가로로 안 넘치게 지정*/
}

/*요일*/
#days div {
    width:50px;
    height:20px;
}

/*--------------------------------------메인 레이아웃--------------------------------------*/

/*----------------연/월----------------*/
#years {
    width:40px;
    height:4850px;
    left:calc(50% - 175px - 120px);
}
#months {
    width:80px;
    height:4850px;
    left:calc(50% - 175px - 80px)
}
#drawings {
    width:350px;
    height:4850px;
    grid-template-columns: repeat(7, 1fr);
}

/*---------------연,월 상세 레이아웃---------------*/
/*연 요소별 위치*/
#years ul {
    height:4850px;
}
#years ul li {
    padding-top:15px;
}
#years ul li:nth-child(1) {
    top: 0px;
}
#years ul li:nth-child(2) {
    top: 1400px;
}
#years ul li:nth-child(3) {
    top: 4000px;
}
/*월 요소별 위치*/
#months ul li {
    height:200px;
    padding:15px 0;
}
#months ul li:nth-child(1) {
    height:100px;
}
#months ul li:nth-child(3),
#months ul li:nth-child(6),
#months ul li:nth-child(8),
#months ul li:nth-child(12),
#months ul li:nth-child(15),
#months ul li:nth-child(17),
#months ul li:nth-child(20) {
    height:250px;
}

/*--------------이미지 박스 레이아웃---------------*/
/*모든 박스*/
#drawings div {
    width:50px;
    height:50px;
}
/*날짜 박스*/
#drawings div div {
    padding:12px 0;
}
/*빈 박스 없애기*/
#drawings .xxl, #drawings .xl, #drawings .l, #drawings .s{
    display:none;
}

/*--------------------------------------푸터 레이아웃--------------------------------------*/
footer p {
    width:352px;
    padding:40px 0;
}

/*------------------------------------------글꼴------------------------------------------*/
html {
    font-size:11px;
}

@media screen and (min-width:480px) and (max-width:640px) {
    #months {
        display:none;
    }
    #years {
        left: calc(50% - 175px - 40px);
    }
}
@media screen and (min-width:412px) and (max-width:479px) {
    #months, #years {
        display:none;
    }
    /*대체 연도 박스*/
    #drawings div.xs_year {
        display:block;
        width:350px;
    }
    #drawings .blank.onlyxs {
        display:block;
    }
    main {
        height:5045px;                                      /*3행 추가*/
    }
    #drawings {
        height:5045px;
    }
}


/*--------------------------------------스크롤 설정-----------------------------------------*/
#header-bg {
    height:150px;
}
#menu.scroll {
    padding-top:40px; /*원래 길이 - 20px*/
}
#title h1.scroll {
    top: 83px;
}
#days.scroll {
    top: 130px !important; /*header-bg 길이 - 20px*/
    left: calc(50% - 175px - 1px);
}
#drawings div.xs_year.scroll {
    top:150px;                                                 
    left: calc(50% - 175px);                                    
}
#years ul li.scroll {
    top : 150px;
    left : calc(50% - 175px - 40px);
}