/*
<뷰포트 1920px 이상> 
박스 가로 : 40px
열 개수(요일) : 37개
행 개수 : 23개 
*/

/*--------------------------------------전체 레이아웃--------------------------------------*/
header {
    height: 300px;
}
main {
    height: 1150px;                                      /*50px * 23행*/
}
footer {
    height: 260px;
}

/*--------------------------------------헤더 레이아웃--------------------------------------*/

/*헤더 전체*/
#menu {
    height: 85px;                                        /*상부 패딩 60px + 메뉴 세로 길이*/
    padding: 60px 100px 0;
}
#title {
    height: 190px;
}
#days {
    width: 1482px;                                      /*박스 가로 * 37열 + 테두리*/
    height: 25px;
}

/*메뉴*/

/*제목*/
#title h1 {
    top: 70px;
}
#title p {
    top: 100px;
}
/*요일*/
#days div {
    width: 40px;                          
    height: 25px;
}

/*--------------------------------------메인 레이아웃--------------------------------------*/

#years {
    width:50px;
    height:1150px;                                      /*50px * 23행*/
    left:calc(50% - 740px - 170px)
}
#months {
    width:120px;
    height:1150px;                                      /*50px * 23행*/
    left:calc(50% - 740px - 120px)
}
#drawings {
    width:1480px;                                       /*박스 가로 * 37열*/
    height:1150px;                                      /*50px * 23행*/
    grid-template-columns: repeat(37, 1fr);
}

/*---------------연,월 상세 레이아웃---------------*/
/*연 요소별 위치*/
#years ul {
    height:1150px;
}
#years ul li {
    padding-top:15px;
}
#years ul li:nth-child(1) {
    top: 0px;
}
#years ul li:nth-child(2) {
    top: 350px;
}
#years ul li:nth-child(3) {
    top: 950px;
}
/*월 요소별 위치*/
#months ul li {
    padding:15px 0;
}

/*--------------이미지 박스 레이아웃---------------*/
/*모든 박스*/
#drawings div {
    width: 40px;
}
/*날짜 박스*/
#drawings div div {
    padding: 12px 0;
}

/*--------------------------------------푸터 레이아웃--------------------------------------*/
footer p {
    width:1482px;                                      /*박스 가로 * 37열 + 테두리*/
    padding: 60px 0;
}

/*------------------------------------------글꼴------------------------------------------*/
html {
    font-size:16px;
}

/*--------------------------------------스크롤 설정-----------------------------------------*/
#header-bg {
    height:180px;
}
#menu.scroll {
    padding-top:40px; /*원래 길이 - 20px*/
}
#title h1.scroll {
    top: 92px;
}
#days.scroll {
    top: 155px !important; /*header-bg 길이 - 20px*/
    left: calc(50% - 740px - 1px);
}